/* ---- Fonts ---- */
/* Titles */
@font-face {
  font-family: title-font;
  src: url("../fonts/rubik/Rubik-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: title-font;
  src: url("../fonts/rubik/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: title-font;
  src: url("../fonts/rubik/Rubik-Regular.ttf");
  font-weight: 400;
}

/* Texts */
@font-face {
  font-family: text-font;
  src: url("../fonts/poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: text-font;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: text-font;
  src: url("../fonts/poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: text-font;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: text-font;
  src: url("../fonts/poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

.error {
  color: var(--bs-red);
}

.success {
  color: var(--bs-green);
}

/* Temporary class to  simulate active links */
.blue {
  color: var(--main-blue)!important;
}

/* Auto Complete */
.autocomplete {
  position: relative;
  display: inline-block;
  padding: 6px;
  overflow-x: auto;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 100%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #f8f9fa;
}

.autocomplete-active {
  background-color: var(--main-blue) !important;
  color: #ffffff;
}

#questionCoursesSelect, #questionTagsSelect, #search-page input[name="tag-input"] {
    border: 0;
    outline: none;
    flex: 1;
    box-shadow: unset;
    background-color: unset;
    min-width: 150px;
}

/* ---- Body ---- */

html {
  background-color: rgb(250, 250, 250);
}

body {
  --main-blue: #3c98e8; /* Main color */
  --hover-blue: rgb(53, 122, 187);
  --black: #16191b;
  --text-black: #3a3a3a;
  --white: #f6f6f6;
  --light-grey: rgba(255, 255, 255, 0.719);
  --dark-grey: #6c757de0;
  --clean-white: #ffffff;

  background: var(--white);
  font-size: 16px;
  font-family: text-font;
  font-weight: 400;
  color: var(--text-black);
  padding-top: 3.96rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-margin {
  padding: 3rem 8em;
  flex: 1;
}

/* Headings and text elements */
h1,
h2,
h3,
h4 {
  font-family: "title-font";
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h4 {
  font-weight: 400;
}

p {
  margin-bottom: 0.2rem;
  line-height: 1.6rem;
}

a {
  color: var(--light-grey);
}

a:hover {
  color: var(--white);
}

input,
textarea,
select {
  box-shadow: rgb(221, 221, 221) 0px 1px 3px inset;
}

select,
option {
  font: -moz-pull-down-menu;
}

pre {
  white-space: pre-line;
}

/* ---- Labels ---- */
.add-question .form-label,
.profile-info .form-label,
.profile-academic-info .form-label,
.delete-account .form-label,
.management label {
  color: var(--main-blue);
  font-weight: 500;
}


/* ---- Buttons ---- */

.btn {
  font-weight: 500;
}

button {
  border-color: unset;
  background-color: unset;
  border-image: none;
  border-style: unset;
}

/* Main actions */
.btn-primary {
  color: var(--white);
  border-color: var(--main-blue);
  background-color: var(--main-blue);
}

.btn-primary:hover {
  border-color: var(--hover-blue);
  background-color: var(--hover-blue);
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  color: var(--white);
  background-color: var(--hover-blue);
  border-color: var(--hover-blue);
  box-shadow: none;
}

/* Secondary actions */
.btn-outline-primary {
  color: var(--main-blue);
  border-color: var(--main-blue);
}

.btn-outline-primary:hover {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

.btn-link {
  color: var(--main-blue);
}

.btn-link:hover {
  color: var(--hover-blue);
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

/* ---- Pagination ---- */
.pagination {
  justify-content: center;
}

.pagination .page-item.active .page-link{
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.pagination .page-link {
  color: var(--main-blue);
}

/* ---- Tags ---- */

.badge {
  font-weight: 400;
}

.bg-primary {
  background-color: var(--main-blue)!important;
  cursor: pointer;
}

.bg-primary:hover {
  background-color: rgb(216, 56, 56)!important;
}

.bg-secondary {
  background-color: rgb(218 218 218) !important;
  font-size: 0.9rem;
  color: var(--bs-gray);
  border: 1px solid #6c757d33;
}

/* ---- Tabs ---- */

.nav-tabs .nav-link {
  color: var(--main-blue);
}

.nav-item.active .nav-link {
  color: var(--clean-white);
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  font-weight: 500;
}

.nav-link:hover {
  box-shadow: unset;
  color: var(--main-blue);
}

/* ---- Mobile navbar ---- */

.bd-subnavbar .nav-link button, .bd-subnavbar .nav-link a {
  color: var(--bs-gray);
  text-decoration: none;
}

.bd-subnavbar select {
  box-shadow: unset;
  border: unset;
  background-color: unset;
  color: var(--bs-gray);
}

.bd-subnavbar .nav-link button:hover,
.bd-subnavbar .subnav-selected button,
.bd-subnavbar .nav-link a:hover,
.bd-subnavbar .subnav-selected a{
  text-decoration: underline;
  color: var(--text-black);
  font-weight: 500;
}

.bd-subnavbar {
  display: none !important;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.bd-subnavbar ul {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bd-subnavbar ul::-webkit-scrollbar {
  display: none;
}

.bd-subnavbar .dropdown-item.active,
.bd-subnavbar .dropdown-item:active {
  background-color: var(--main-blue);
}


/* ---- Markdown editor */
.editor-preview {
  z-index: 1000!important;
}


/* ---- Header ---- */

header.fixed-top {
  max-width: 1920px;
  box-shadow: 0 1px 4px 0 #000000ab;
  border-bottom: var(--black);
}

body > main > header .container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.header-search {
  width: 37%;
  max-width: 800px;
}

.header-search .form-control {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: unset;
}

.header-search .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}

.tablet-header-search {
  display: none !important;
}

/* logo */
.navbar-dark .navbar-brand {
  color: var(--white);
  font-family: title-font;
  font-weight: 600;
  font-size: 1.6rem;
  margin-right: 3.5rem;
}

.navbar-expand-xl .navbar-toggler {
  border: unset;
  padding-right: unset;
}

/* page links */
.navbar-expand-xl .navbar-nav {
  margin: 0 1rem;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link,
.nav-link.profile-button.registration-button {
  color: var(--light-grey);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.nav-link.profile-button.registration-button:hover {
  color: var(--white);
}

.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
  background-color: rgba(255, 255, 255, 0.15);
}

/* header buttons */
.registration-button {
  margin-right: 1rem;
}

.nav-link.registration-button {
  padding: unset;
}

.registration-menu .registration-button:last-child {
  margin-right: unset;
}

.fa-bell {
  font-size: 1.5rem;
  color: var(--white);
}

.profile-button img {
  height: 1.4rem;
  width: 1.4rem;
  object-fit: cover;
  margin-right: 0.4rem;
}

a.profile-button {
  color: var(--light-grey);
  display: flex;
  align-items: center;
}

.notifications-mobile {
  display: none;
  padding: 0.25rem 0.75rem 0 0.75rem;
  cursor: pointer;
  color: var(--light-grey);
  padding-right: unset;
}

.icon-hover :last-child,
.icon-hover :last-child,
.icon-hover:hover :first-child,
.icon-hover a:last-child,
.icon-hover a:last-child,
.icon-hover:hover a:first-child {
  display: none;
}

.icon-hover:hover :last-child,
.icon-hover:hover a:last-child {
  display: inline-block;
}

/* ---- Homepage ---- */

.homepage-container-hero {
  padding: 100px 0;
  background-image: url("../images/banner.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-course-container p {
  max-width: 270px;
}

.homepage-course-container a {
  margin-top: auto;
}

.banner-text p {
  font-weight: 400 !important;
  color: whitesmoke;
  font-size: 1rem;
  margin-bottom: 1.5rem !important;
  max-width: 360px;
  margin: auto;
  line-height: 1.8rem;
}

h1.display-3 {
  font-family: title-font;
  font-size: 2.9rem;
  color: whitesmoke;
  margin-bottom: 1rem;
  font-weight: 600;
}

a.btn {
  width: 135px;
  padding: 0.3rem;
  display: inline-block;
  font-size: 0.85rem;
}

.homepage-feature {
  justify-content: space-around;
}

.homepage-feature-text {
  margin-top: 3rem;
  max-width: 550px;
  padding-right: 2rem;
}

.homepage-feature-image1 {
  background-image: url("../images/qa_home2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(50% - 1rem);
  max-width: 600px;
  height: 400px;
}

.homepage-course,
.feature.questions {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-top: 3rem;
  max-width: 1320px;
  margin: auto;
}

.course-icon {
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: contain;
}

#course-icon1 {
  background-image: url("../images/mieic.png");
}

#course-icon2 {
  background-image: url("../images/miec.png");
}

#course-icon3 {
  background-image: url("../images/mieec.png");
}

.carousel-control-next,
.carousel-control-prev {
  display: block;
  width: auto;
}

/* ---- Question Page ---- */

article.question.card,
.answers,
#submit-answer {
  max-width: 1200px;
  margin: auto;
}

article.question.card {
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #dadce0;
}

article.question.card h2 {
  color: var(--main-blue);
  font-weight: 600;
}

article.question .card-body .card-header {
  background-color: unset;
}

.answer .card-body .card-header {
  background-color: unset;
  border: unset;
}

article.question .card-title {
  margin-right: 2rem;
}

.question-author span {
  color: var(--bs-gray);
  font-style: italic;
}

.question-author img {
  height: 2.6rem;
  padding: 0.5rem 0;
}

.question-author span {
  margin-left: 1rem;
}

.category {
  padding: 0.5rem 1rem;
}

.category i {
  margin-right: 0.5rem;
}

.course {
  display: flex;
  align-items: center;
}

#submit-answer .CodeMirror {
  height: 10em!important;
}

.edit-question {
  display: flex;
  align-items: center;
  color: var(--main-blue);
  font-size: 1.5rem;
  margin-left: 2rem;
}

.edit-question i {
  color: var(--main-blue);
  margin-left: 1rem;
}

.question-content p {
  font-weight: 400;
  margin-top: 1rem;
}

.question footer {
  padding: 0.5rem 1rem;
}

.question-tags .tag {
  margin-right: 0.2rem;
}

.answers {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 2rem;
}

.answer.card {
  background-color: unset;
  border: unset;
}

.answer.card .card-body {
  box-shadow: 0px 1px 2px 0px rgb(183 183 183 / 30%),
    0px 2px 6px 2px rgb(154 154 154 / 15%);
}

.answers > header {
  padding: 2rem 0.5rem 1rem;
}

.vote_btn i {
  font-size: 1.8rem;
  color: var(--main-blue);
}

.points {
  font-size: 1.3rem;
  color: var(--main-blue);
}

.fa-check {
  color: #33752d;
  font-size: 1.8rem;
}

.comments {
  padding-left: 6rem;
  margin: 1.5rem 0;
}

.comments .comment {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.comment-author span {
  padding: 0.5rem;
  color: var(--bs-gray);
  font-style: italic;
}

.comment-author span:first-of-type:before {
  content: "-";
}

#submit-answer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#submit-answer label {
  font-family: title-font;
  font-weight: 500;
  font-size: calc(1.3rem + 0.6vw);
  padding: 1rem 0.5rem;
}

#submitAnswerTextarea {
  box-shadow: inset 0 1px 3px #ddd;
}

.report-icon button {
  color: #c90f0f;
}

.back-top a {
  display: block;
  margin-left: auto;
}

/* ---- Login and Register ---- */

#login,
#register, .password-recovery {
  text-align: center;
  max-width: 30rem;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%) !important;
  border: 1px solid #dadce0;
}

#register-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#register input[type="file"] {
  display: none;
}

#register input[type="file"] + label {
  display: block;
  cursor: pointer;
}

#register input[type="email"],
#register input[type="text"],
#register input[type="password"],
#login input[type="email"],
#login input[type="password"],
.password-recovery input
{
  width: 100%;
  display: block;
}

#login .btn-register {
  margin-bottom: 1em;
}

#login label,
#register label, .password-recovery label {
  width: 100%;
  font-weight: 500;
}

#login .form-text {
  font-size: 0.9rem;
  font-family: text-font;
}

#login .btn-login,
#login .btn-register,
#register .btn-register,
.password-recovery .btn {
  padding: 0.4em 3em;
  width: 100%;
}

/* ---- Add Question ---- */

.add-question {
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
  border: 1px solid #dadce0;
  max-width: 1200px;
  margin: auto;
  padding: 3rem 2rem;
}

.add-question .form-label,
.profile-info .form-label,
.profile-academic-info .form-label {
  color: var(--main-blue);
  font-weight: 500;
}

.manage-tag-card {
  width: min-content;
  height: min-content;
}

.manage-tag-card > .card-body span:first-child {
  margin-right: 2rem;
  color: var(--text-black);
  font-weight: 500;
  font-size: 1.1rem;
}

.manage-tag-card .icon-hover {
    color: var(--main-blue);
}

/* ----- Search Page ---- */

#search-page {
  max-width: 1400px;
  margin: auto;
}

#order-filters {
  justify-content: flex-end;
  align-items: center;
}

#order-filters li {
  border: 1px solid var(--main-blue);
  border-radius: 0.25rem;
  height: min-content;
  margin-left: 0.5rem;
}

#order-filters li label {
  color: var(--main-blue);
  padding: 0.5rem;
  cursor: pointer;
}

#order-filters li input:checked + label {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  color: var(--white);
}

#reset-search {
  color: var(--main-blue);
  text-decoration: none;
}

#reset-search:hover {
  text-decoration: underline;
}

.side-content {
  padding-right: 0 !important;
  padding-bottom: 3rem;
}

/* title */
.side-content > header h5 {
  font-size: 1.3rem;
  color: var(--bs-grey);
  font-weight: 500;
}

/*search bar*/
#search-page header #questions-search-bar {
  margin: 2rem 0 0.5rem;
}

#search-page input[name="search-input"],
#profile-search .form-control {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: unset;
}

#search-page button[name="search-submit"],
#profile-search .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}

/* question preview */
.question-preview.card .question-header > h4 > a {
  color: var(--main-blue);
  font-size: 1.4rem;
  margin-bottom: 0;
  font-family: title-font;
  text-decoration: unset;
}

.question-preview.card .question-header > h4 > a:hover {
  color: var(--hover-blue);
}

.question-preview .card-footer .tag {
  margin-right: 0.3rem;
}

.question-preview.card header,
.question-preview.card footer {
  background-color: unset;
  border: unset;
}

.question-preview .counts {
  padding: 0 1rem;
  height: min-content;
  text-align: center;
  color: var(--bs-gray);
}

.question-preview .counts-mobile {
  display: none;
  padding: 0rem 2em 1rem;
  color: var(--bs-gray);
}

.question-preview .counts-mobile div {
  margin-right: 1rem;
  display: inline-block;
}

.question-preview.card {
  margin-bottom: 2rem;
  box-shadow: 0px 1px 2px 0px rgb(183 183 183 / 30%),
    0px 2px 6px 2px rgb(154 154 154 / 15%);
  border: 1px solid #dadce0;
  padding: 1rem 1rem 0;
}

.limited-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
}


/* Search filters */

input[name='tag-input'] + .input-group-append .btn-primary {
  border-radius: 0;
}

#tags-selected {
  display: block;
  width: 400px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: rgb(221 221 221) 0px 1px 3px inset;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  overflow-x: auto;
}

#tags-selected .fa-times {
  margin-left: 0.2rem;
}

#tags-search-results {
  padding: 0;
  font-weight: 400;
  width: 100%;
  position: absolute;
  z-index: 1000;
  border: 1px solid rgba(0,0,0,.15);
  display: none;
}

#tags-search-results:first-child {
  border-top: unset;
}

.form-control:focus {
  box-shadow: unset;
}

.course-filter, .tag-filter{
  border-top-left-radius:unset!important;
  border-top-right-radius:unset!important;
  cursor: pointer;
}

.course-filter:hover, .tag-filter:hover {
  background-color: #f8f9fa;
  color: #495057;
}

.course-filter-input:checked + label, .tag-filter-input:checked + label {
  background-color: rgb(158, 201, 236);
  color: var(--white);
  background-color: #c1c2c34a;
  font-weight: 500;
}

#mobile-search-filters {
  display: none;
}

.courses-tags-search {
  position: relative;
}

#courses-dropdown {
  display: flex;
  padding: .375rem 0.5rem .375rem .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-black);
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(221 221 221) 0px 1px 3px inset;
  color: var(--bs-gray);
}

#courses-dropdown.dropdown-toggle::after {
  margin-left: 2rem;
}

#courses-dropdown-list {
  width: 100%;
}

#questions-search-bar .navbar .dropdown-item {
  padding: unset;
}

#questions-search-bar .dropdown-menu[data-bs-popper] {
  margin-top: 0;
}

#questions-search-bar .dropdown-menu {
  padding: unset;
  border-top: unset;
  min-width: unset;
}

#questions-search-bar .navbar > div:first-child {
  margin-right: 1rem;
  position: relative;
}

#questions-search-bar  .list-group-item {
  border-left: unset;
  border-right: unset;
  border-top: unset;
  color: var(--text-black);
}

#courses-dropdown .list-group-item:last-child {
  border-bottom: unset;
}

/* ---- About ---- */

.my-bg-main-blue h1,
.my-bg-main-blue.error h1,
.my-bg-main-blue.error p {
  font-size: 2.8rem;
  padding: 80px;
  background-color: #4ca0e8;
  color: whitesmoke;
  margin: 0;
}

.my-bg-main-blue.error h1{
  padding-bottom: 20px;
}
.my-bg-main-blue.error p{
  padding-top: 0;
  padding-bottom: 80px;
  font-size: 1rem;

}
.about-text {
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 2rem;
  max-width: 500px;
}

#about-image1 {
  width: calc(50% - 1rem);
  max-width: 600px;
  height: 400px;
  background-image: url(../images/team.jpg);
  background-size: cover;
  background-position: center;
}

#about-image2 {
  width: calc(50% - 1rem);
  height: 400px;
  max-width: 600px;
  background-image: url(../images/questions_answers.png);
  background-size: cover;
  background-position: center;
}

/* ---- Profile ---- */

/* Grid */
.grid-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "one two"
    "one three";
}

#profile-main {
  padding: 3rem;
  box-shadow: unset !important;
}

#profile-main .one {
  grid-area: one;
}

#profile-main .two {
  grid-area: two;
}

#profile-main .three {
  grid-area: three;
}

#profile-main h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#profile-main .nickname {
  color: var(--main-blue);
  font-size: 1.75rem;
}

#profile-main .score {
  color: var(--main-blue);
  font-weight: 500;
  font-family: title-font;
  font-size: 1.2rem;
}

#profile-main .points {
  color: var(--text-black);
  font-size: 1.1rem;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-info p,
.profile-academic-info p {
  margin-bottom: 0.5rem;
}

.profile-info .profile-small-title,
.profile-academic-info .profile-small-title {
  color: var(--dark-grey);
  margin-right: 0.5rem;
}

.profile-info .input-group {
  margin-bottom: 1rem;
}

.profile-info .input-group-prepend > span {
  color: var(--white);
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: var(--main-blue);
  font-size: 0.8rem;
  height: 100%;
}

.profile-small-title i {
  padding: 0.3rem;
}

.answer-content {
  padding: 1rem;
}

.question-preview.card .answer-content h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.profile-question,
.profile-answer {
  padding: 3em;
  background-color: var(--clean-white);
}

.profile-question .category-profile-question {
  margin-top: 1em;
  margin-right: 0.6em;
  width: 100%;
}

.profile-question .date-user-image,
.profile-answer .date-user-image {
  width: 1.4em;
}

.profile-question .date-user-text,
.profile-answer .date-user-text {
  float: right;
}

 /* --- Edit Profile -- */



#profile-main input[type="file"] {
    display: none;
}
#profile-main input[type="file"] + label {
    display: block;
    cursor: pointer;
}

 .edit-icon {
  font-size: 1.5em;
}

.edit-icon-tag {
  padding: 0.75rem 0.75rem;
}

.about-me {
  height: 31em;

}

/* ---- User/Reports Management ---- */

.management .table>:not(:last-child)>:last-child>*{
  border-bottom-color: var(--bs-gray);
  color: var(--bs-gray);
  font-family: title-font;
  font-weight: 400;
  font-size: 1.1rem;
  white-space: nowrap;
}

.management table tr th  {
  color: var(--bs-gray);
  font-family: title-font;
  font-weight: 400;
  font-size: 1.1rem;
}

.management .form-select {
  width: auto;
}

.management td img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.management table thead tr th i{
  margin-right: 0.6rem;
}

.management#reports table thead tr th:nth-child(2){
  min-width: 200px;
}

.management td {
  padding: 0.6rem;
}

.management td a {
  color: var(--main-blue);
  text-decoration: none;
}

.management td a:hover {
  color: var(--hover-blue);
}

.table-entries {
  padding: 0 0.7rem 0.7rem 0;
  color: var(--bs-gray);
  font-style: italic;
}

/* Management side bar */

.management-nav{
  padding: 0;
  height: min-content;
  max-width: 40%;
}

.management-nav ul {
  padding: 0;
}

.management-nav li {
  padding: 1rem 1.25rem;
  outline: 1px solid rgba(0, 0, 0, 0.125);
  list-style-type: none;
  background-color:#f8f9fa;
}

.management-nav a {
  color: var(--text-black);
  text-decoration: none;
  font-weight: 500;
}

.management-nav li:hover a {
  color: var(--main-blue);
}


/* Categories */
.manage-categories .icon-hover button {
  color: var(--main-blue);
  font-size: 1.5rem;
}

.manage-search {
  min-width: 250px;
  flex: 1;
}

.management .fa-check {
  color: var(--white);
  font-size: 1rem;
}

/* ---- Notifications Modal ---- */


#notificationsModal .dropdown-toggle::after{
  border: none;
  content: unset;
}

#notificationsModal div.modal-header i {
  color: var(--main-blue);
}

#notificationsModal img {
  max-width: 40px;
  margin-right: 0.5rem;
}

#notificationsModal div.modal-body a{
  text-decoration: unset;
  color: var(--text-black);
}

#notificationsModal i.fas.fa-circle{
  margin-right: 11px;
}

.notifications-more{
  background-color: var(--main-blue);
  color: white;
}

ul.notification-list li:hover{
  color: white;
  background-color: var(--main-blue);
}


/* ---- Toast -----*/
.toast{
    z-index: 3;
}

/* ---- Footer ---- */

body > footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgb(235, 235, 235);
}

body > footer li {
  line-height: 1.9rem;
}

body > footer h5 {
  margin-bottom: 1rem;
}

body > footer > nav {
  display: flex;
}
