/* Question Page */

/* Sidebar */
aside#search-tab{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
}

aside#search-tab .accordion-item{
    background-color: white;
}

#search-page > header{
    font-size: small; /* Não sei pq mas isto ñao está a funcionar, deve ser algo relacionado com a parte das fontes que a Diana esteava a mexer */
    max-width: 1200px;
}

div#search-page article.question.card {
    margin: 2em 0;
}

#search-tab .list-group-item{
    box-sizing: unset;
    border: none;
}

#mobile-dropdown-filters{
    display: none;
    margin-top: 1em;
}


/* Style page content */
#search-page {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}




/* Question card*/
article.question.card, .answers, #submit-answer {
    max-width: 1200px;
    margin: auto;
}

article.question.card {
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid #dadce0;
}

article.question.card h2 {
    color: #258eea;
    font-weight: 700;
}

article.question .card-body .card-header {
    background-color: unset;
}

article.question .card-title {
    margin-right: 2rem;
}

.question-author span{  
    color: var(--bs-gray);
    font-style: italic;
}

.question-author img {
    height: 2.6rem;
    padding: .5rem 0;
}

.question-author span {
    margin-left: 1rem;
}

.category{
    padding: 0.5rem 1.5rem;
}

.category i{
    margin-right: 0.5rem;
}

.course {
    display: flex;
    align-items: center;
}

.edit-question{
    display: flex;
    align-items: center;
    color: var(--main-blue);
    font-size: 1.5rem;
    margin-left: 2rem;
}

.edit-question i {
    color: var(--main-blue);
    margin-left: 1rem;
}

.edit-question i:hover {
    color: var(--hover-blue);
    margin-left: 1rem;
}


.question-content p{
    font-weight: 400;
    margin-top: 1rem;
}

.question footer{
    padding: .5rem 1rem;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #search-ta {padding-top: 15px;}
    #search-ta a {font-size: 18px;}
  }


@media (max-width: 768px) {

    
    .question-header{
        display: block!important;
    }

    .question-details:first-child {
        display: flex!important;
    }

    .question-details:last-child {
        display: none!important;
    }

    aside#search-tab {
        width: 160px; /* Same as the width of the sidebar */
    }
    
    main {
        margin: 0;
        padding-top: 0;
    }


    article.question.card, .answer.card .card-body {
        box-shadow: unset;
        border-radius: 0;
    }

    article.question.card {
        padding-top: 1rem;
    }



}

@media (max-width: 450px) {

    #mobile-dropdown-filters{
        display:block;
    }

    #search-page{
        margin: 0.5em;
    }

    .question-header{
        display: block!important;
    }

    .question-details:first-child {
        display: flex!important;
    }

    .question-details:last-child {
        display: none!important;
    }
    
    main {
        margin: 0;
        padding-top: 0;
    }

    article.question.card, .answer.card .card-body {
        box-shadow: unset;
        border-radius: 0;
    }

    article.question.card {
        padding-top: 1rem;
    }

    aside#search-tab{
        display: none;
    }
}