/* Fonts */

    /* Titles */
    @font-face {
        font-family: title-font;
        src: url("../fonts/titillium/TitilliumWeb-Bold.ttf");
        font-weight: bold;
    }

    /* Texts */

    @font-face {
        font-family: text-font;
        src: url("../fonts/poppins/Poppins-Regular.ttf");
        font-weight: normal;
    }

    @font-face {
        font-family: text-font;
        src: url("../fonts/poppins/Poppins-Medium.ttf");
        font-weight: medium;
    }

body {
    --main-blue: #3C98E8; /* Main color */
    --main-green: #86D383; /* Secondary color */
    --main-yellow: #FAC368; /* Secondary color */
    --black: #262626; 
    --white: #F2F2F2;

    background: var(--white);
    font-size: 16px;
    font-family: text-font;
    font-weight: normal;
    color: var(--black);
}

main {
    margin: 0 8em;
}

h1 {
    font-family: title-font;
}

body > footer {
    border-top: 1px solid rgba(88, 88, 88, 0.2);
    background-color: rgb(235, 235, 235);
}

body > footer li {
    line-height: 1.9rem;
}

body > footer h5 {
    margin-bottom: 1rem;
}