body {
  --main-blue: #3c98e8; /* Main color */
  --main-green: #86d383; /* Secondary color */
  --main-yellow: #fac368; /* Secondary color */
  --black: #262626;
  --white: #f2f2f2;

  background: var(--white);
  font-size: 16px;
  /*font-family: "apercu",sans-serif;*/
  color: var(--black);
  margin: 0 8em;
} 

.homepage-feature-text {
  margin-top: 3rem;
}
.homepage-feature-image {
  font-size: 2.5rem;
  text-anchor: middle;
}
.homepage-feature-courses {
  text-align: center;
}

.homepage-container-lastsearch {
  max-width: 43rem;
}

@media (max-width: 991.98px) {
  .homepage-feature-text {
    margin-top: 0;
  }
}
