/* Fonts */

    /* Titles */
    @font-face {
        font-family: title-font;
        src: url("../fonts/rubik/Rubik-SemiBold.ttf");
        font-weight: 600;
    }

    /* Texts */

    @font-face {
        font-family: text-font;
        src: url("../fonts/poppins/Poppins-Regular.ttf");
        font-weight: 400;
    }

    @font-face {
        font-family: text-font;
        src: url("../fonts/poppins/Poppins-Medium.ttf");
        font-weight: 500;
    } 

    @font-face {
      font-family: text-font;
      src: url("../fonts/poppins/Poppins-Light.ttf");
      font-weight: 300 ;
  }


body {
    --main-blue: #3c9bd2; /* Main color */
    --light-blue: #61b5ff;
    --hover-blue: rgb(53, 122, 187); 
    --main-green: #7bc478; /* Secondary color */
    --hover-green: #528f50; 
    --black: #212529;
    --text-black: #3e444b;
    --white: #f0f0f0;

    background: var(--white);
    font-size: 16px;    
    font-family: text-font;
    font-weight: 400;
    color: var(--text-black);
}

.page-margin {
    margin: 0 8em;
}

a {
    color: var(--grey);
}

a:hover {
    color: var(--white);
}

h2, h3, h4 {
  font-family: 'title-font';
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

/* Buttons */

/* blue */
.btn {
    font-weight: 500;
}

.btn-primary {
    color: var(--white);
    border-color: var(--main-blue);
    background-color: var(--main-blue);
}

.btn-primary:hover {
    border-color: var(--hover-blue);
    background-color: var(--hover-blue);
}

.btn-check:focus+.btn-primary, 
.btn-primary:focus, .btn-check:active+.btn-primary, 
.btn-check:checked+.btn-primary, .btn-primary.active, 
.btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-check:active+.btn-primary:focus, 
.btn-check:checked+.btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    color: var(--white);
    background-color: var(--hover-blue);
    border-color: var(--hover-blue);
    box-shadow: none;
}

.btn-outline-primary {
    color: var(--main-blue);
    border-color: var(--main-blue);
}

.btn-outline-primary:hover {
    background-color: var(--main-blue);
    border-color: var(--main-blue);;
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus{
    box-shadow: none;
}


.btn-secondary {
  color: var(--white);
  border-color: var(--main-green);
  background-color: var(--main-green);
}

.btn-secondary:hover {
  border-color: var(--hover-green);
  background-color: var(--hover-green);
}

.btn-check:focus+.btn-secondary, 
.btn-secondary:focus, .btn-check:active+.btn-secondary, 
.btn-check:checked+.btn-secondary, .btn-secondary.active, 
.btn-secondary:active, .show>.btn-secondary.dropdown-toggle,
.btn-check:active+.btn-secondary:focus, 
.btn-check:checked+.btn-secondary:focus, 
.btn-secondary.active:focus, .btn-secondary:active:focus, 
.show>.btn-secondary.dropdown-toggle:focus {
  color: var(--white);
  background-color: var(--hover-green);
  border-color: var(--hover-green);
  box-shadow: none;
}

.btn-outline-secondary {
  color: var(--main-green);
  border-color: var(--main-green);
}

.btn-outline-secondary:hover {
  background-color: var(--main-green);
  border-color: var(--main-green);;
}

.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus{
  box-shadow: none;
}

/* Homepage */

.homepage-container-hero {
  padding: 100px 0;
  background-image: url("../public/images/cool-background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text p {
  font-weight: 400!important;
  color: #dedede;
  font-size: 1rem;
  margin-bottom: 1.5rem!important;
  max-width: 356px;
  margin: auto;
}


h1.display-3 {
  font-family: title-font;
  font-size: 2.6rem;
  color: #dedede;
  margin-bottom: 1rem;
}

a.btn {
    width: 135px;
    padding: 0.3rem;
    display: inline-block;
    font-size: 0.85rem;
}

.homepage-feature {
  justify-content: space-around;
}

.homepage-feature-text {
  margin-top: 3rem;
  max-width: 550px;
  font-weight: 300;
}

.homepage-feature-image {
  font-size: 3.5rem;
  text-anchor: middle;
}

.homepage-course {
  background-color: var(--grey);
}
.homepage-course-container {
  text-align: center;
}

.homepage-lastsearch {
  /*   background-color: var(--main-blue-300);*/
  max-width: 43rem;
}

/* Questions */ 


.profile-question {
    padding: 3em;
    background-color: #FFFFFF;
}

.profile-question a {
    color: var(--main-green);
    text-decoration: none;
}

.profile-question a:hover {
    color: var(--hover-green);
    text-decoration: none;
}


.profile-question .category-profile-question {
  margin-top: 1em;
  margin-right: 0.6em;
  width: 100%;
}

.profile-question .date-user-image,
.profile-answer .date-user-image {
  width: 1.4em;
}

.profile-question .date-user-text,
.profile-answer .date-user-text {
  float: right;
}


@media (max-width: 992px) {
  body {
    margin: 0 0;
  }

  .homepage-feature-text {
    margin-top: 0;
  }

  .homepage-feature-image {
    text-align: center;
  }

}

#content {
  position: relative;
  overflow-x: hidden;
  height: 20em;
  width: 100%;
}

.page {
  position: absolute;
  top:0;

  width: 100%;
  height: 100%;
}

#page1 {
    display: block;
}

#page2 {    
    display: none;
}

@-webkit-keyframes left-to-right-right {
  from{right:-100%}
  to{right:0}
}

@-webkit-keyframes right-to-left-right {
  from{right:0}
  to{right:100%}
}

@-webkit-keyframes left-to-right-left {
  from{left:-100%}
  to{left:0}
}
@-webkit-keyframes right-to-left-left {
  from{left:0}
  to{left:100%}
}

@keyframes left-to-right-right {
  from{right:-100%}
  to{right:0}
}
@keyframes right-to-left-right {
  from{right:0}
  to{right:100%}
}

@keyframes left-to-right-left {
  from{left:-100%}
  to{left:0}
}
@keyframes right-to-left-left {
  from{left:0}
  to{left:100%}
}