div.user-administration table thead tr th {
    border-color: var(--black);
    color: var(--text-black);
    font-family: title-font;
    font-weight: 500;
    font-size: 1.2rem;
    min-width: 100px;
    white-space: nowrap;
}

div.user-administration table thead tr th i{
    margin-right: 0.6rem;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--main-blue);
}

div.user-administration table thead tr th:nth-child(2){
    min-width: 120px;
}

div.user-administration table thead tr th:nth-child(2){
    min-width: 300px;
}

@media (max-width: 992px) {
    .page-margin.user-administration {
        padding-top: 3rem;
    }
    
}
